{% extends "base.html" %}
{% load static %}

{% block content %}
  <p>Just a simple app with CRUD feature and login functionality! Sign up will be added soon</p>

  <app-root>Loading the app...</app-root>

  <script type="text/javascript" src="{% static 'front-end/runtime.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/polyfills.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/styles.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/vendor.js' %}"></script>
  <script type="text/javascript" src="{% static 'front-end/main.js' %}"></script>

{% endblock %}
